.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;

    li {
        position: relative;
        display: inline;
        color: #7B7B7B;
        font-size: 16px;

        & + li {
            padding-left: 24px;
        }
        & + li:before {
            position: absolute;
            top: 50%;
            left: 0;
            content: url('../img/icons/icons.svg#arow');
            width: 24px;
            height: 24px;
            transform: translateY(-50%) rotate(-90deg);
        }

        a {
            color: #7B7B7B;
            font-size: 16px;
            text-decoration: none;

            &:hover {text-decoration: underline;}
        }
    }
}