.intro {
    position: relative;
    background: url('../img/bg-intro.png') no-repeat center / cover;

    &__wrapper {
        position: relative;
        z-index: 1;
        padding: 150px 0 120px;

        @media (max-width: 991px) {
            padding: 50px 0;
        }
    }

    &__title {
        margin-bottom: 30px;
        @include adaptiv-font(60, 30);
        text-transform: capitalize;
    }

    &__subtitle {
        margin-bottom: 50px;
        @include adaptiv-font(24, 18);
        text-transform: capitalize;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 174px);
        flex-wrap: wrap;
        gap: 20px;

        @media (max-width: 991px) {
            display: flex;
            flex-wrap: wrap;

            li {
                max-width: 174px;
                width: 100%;
            }
        }

        li {
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding: 10px;
            border-radius: 4px;
            background: #FFF;
            box-shadow: 0px 8px 29px 0px rgba(14, 83, 50, 0.10);

            span {
                color: $firstAccentColor;
                @include adaptiv-font(32, 24);
            }
        }
    }
}